---
import Modal from "../Modal.astro";
---

<Modal id="PopupAboutMe" title="File Reader: About Me.txt" width="w-[calc(100%-40px)] lg:w-[400px]" height="h-[90%] lg:h-[300px]">
  <div class="flex flex-col gap-3 text-black/50 p-2">
    <p><b>Area:</b> Web development</p>
    <p><b>Main Stack:</b> React, Astro, Tailwind, ExpresJS</p>
    <p><b>Soft Skills:</b> Self-taught, autonomous, proactivity</p>
    <p><b>LinkedIn:</b> <a href="www.linkedin.com/in/cris01000011" class="underline">cris01000011</a></p>
    <p><b>GitHub:</b> <a href="https://github.com/cris-01000011" class="underline">cris-01000011</a></p>
    <p><b>Email:</b> cris.01000011@gmail.com</p>
  </div>
</Modal>
