---
import Modal from "../Modal.astro";
import Greatherthan from "../../assets/svgs/greaterthan-svgrepo-com.svg";
import AsciiTerminalArt from "../AsciiTerminalArt.astro";
---

<Modal id="PopupTerminal" title="Terminal" width="w-[356px]" height="h-[415px]" >
  <div class="font-big-blue text-black/50 flex flex-col w-full min-h-[100%-41px]">
    <AsciiTerminalArt />
    <span class="text-2xl text-center p-2">CheatSheet</span>
    <div class="flex flex-col items-center justify-center gap-2 w-full h-full p-2">
      <div class="flex flex-col w-fit border-1 border-dashed p-2">
        <span>- Background</span>
        <span>set bg-animate [on / off]</span>
      </div>
      <div class="flex flex-col w-fit border-1 border-dashed p-2">
        <span>- System</span>
        <span>run [program_name]</span>
        <span>exit</span>
      </div>
    </div>
    <div class="absolute bottom-0 flex items-center bg-white/50 gap-2 w-full h-[32px] px-2 py-1 border-t-1 border-t-black/25">
      <Greatherthan width={16} height={16} />
      <form onsubmit="RunCommand(event)">
        <input autofocus id="terminalInput" type="text" class="outline-0 flex-1" spellcheck="false" autocomplete="off">
      </form>
    </div>
  </div>
</Modal>

<script is:inline>
function RunCommand(event) {
  event.preventDefault();

  const input = document.getElementById("terminalInput");
  const command = input.value.trim();
  input.value = "";

  if (command === "exit")
    return document.getElementById("PopupTerminal").close();

  if (command === "set bg-animate on")
    return document.body.style.backgroundImage = "url(/imgs/ff.gif)";

  if (command === "set bg-animate off")
    return document.body.style.backgroundImage = "url(/imgs/ff.png)";

  const program = command.slice(4).trim();
  const modal = document.getElementById("Popup" + program);

  if (command.slice(0, 3) === "run")
    return modal.show();
}
</script>
