---
import Modal from "../Modal.astro";
---

<Modal id="PopupExperience" title="File Reader: Experience.txt" width="w-[calc(100%-40px)] lg:w-[400px]" height="h-[90%] lg:h-[430px]">
  <div class="flex flex-col gap-3 text-black/50 p-2">
    <p><b>Position:</b> Web Developer (Professional Internship)</p>
    <p>
      Developed a web platform with user authentication for managing nationwide sales points. 
      The system allowed visualization and administration of locations through an interactive map 
      with advanced features such as filters and geographic zone delimitation.
    </p>
    <p>
      Additionally, collaborated on inventory management and hardware maintenance tasks.
      This project significantly improved geographic data visualization and supported 
      strategic decision-making within the organization.
    </p>
  </div>
</Modal>
