<dialog id="PopupTablifyFolder" class="absolute top-0 bg-black/50 text-[#bac2de] w-full h-[calc(100%-25px)]">
  <form method="dialog" class="flex items-center justify-center w-full h-full">
    <div class="bg-[rgba(49,50,68,1)] flex flex-row items-center gap-2 border-2 border-[rgba(49,50,68,0.9)] px-5 py-2 rounded-xl z-1">
      <div class="bg-[rgba(243,139,168,0.8)] w-4 h-4 rounded-full"></div>
      <a href="">Astro Docs</a>
    </div>

    <button type="submit" class="absolute w-full h-[calc(100%-25px)] cursor-none"></button>
  </form>
</dialog>
