<span class="text-center text-[2px] whitespace-pre p-2">
             ##########################################################################
             ##########################################################################             
         ##################################################################################         
         ##################################################################################         
         ##################################################################################         
         ##########                                                              ##########         
         ##########                                                              ##########         
         ##########                                                              ##########         
         ##########                                                              ##########         
         ##########        ##########                                            ##########         
         ##########        ##############                                        ##########         
         ##########        ##############                                        ##########         
         ##########            ###############                                   ##########         
         ##########            ###################                               ##########         
         ##########                 ##############                               ##########         
         ##########                 ##############                               ##########         
         ##########                 ##############                               ##########         
         ##########            ###############                                   ##########         
         ##########            ###############                                   ##########         
         ##########        ##############         #######################        ##########         
         ##########        ##############         #######################        ##########         
         ##########        ##########             #######################        ##########         
         ##########                                                              ##########         
         ##########                                                              ##########         
         ##########                                                              ##########         
         ##########                                                              ##########         
         ##########                                                              ##########         
         ##################################################################################         
         ##################################################################################         
             ##########################################################################             
##########################################################################            
</span>
