---
import FolderIcon from "../assets/svgs/folder-favourite-star-svgrepo-com.svg";
import FileUserIcon from "../assets/svgs/file-user-svgrepo-com.svg";
import FilePdfIcon from "../assets/svgs/pdf-svgrepo-com.svg";
---

<main class="hidden lg:block">
  <div class="fixed top-10 left-10">
    <button onclick="openPopup('PopupFileExplorer')" class="bg-[#11111b90] backdrop-blur-xs hover:backdrop-blur-sm transition-all duration-500 rounded-xl flex flex-col gap-1 items-center px-3 py-1 cursor-pointer">
      <FolderIcon width={36} height={36} />
      <span class="px-2 rounded-xl text-sm text-[#cdd6f4] text-center w-full truncate">Projects</span>
    </button>
  </div>

  <div class="fixed top-10 right-10 flex flex-col gap-4 justify-end w-30">
    <button onclick="openPopup('PopupAboutMe')" class="bg-[#11111b90] backdrop-blur-xs hover:backdrop-blur-sm transition-all duration-500 rounded-xl flex flex-col gap-1 items-center px-3 py-1 cursor-pointer">
      <FileUserIcon width={36} height={36} />
      <span class="px-2 rounded-xl text-sm text-[#cdd6f4] text-center w-full truncate">About Me.pdf</span>
    </button>
    <button onclick="openPopup('PopupExperience')" class="bg-[#11111b90] backdrop-blur-xs hover:backdrop-blur-sm transition-all duration-500 rounded-xl flex flex-col gap-1 items-center px-3 py-1 cursor-pointer">
      <FileUserIcon width={36} height={36} />
      <span class="px-2 rounded-xl text-sm text-[#cdd6f4] text-center w-full truncate">Experience.pdf</span>
    </button>
    <a href="/files/CV_CristopherRamirez_2025_EN.pdf" target="_blank" class="bg-[#11111b90] backdrop-blur-xs hover:backdrop-blur-sm transition-all duration-500 rounded-xl flex flex-col gap-1 items-center px-3 py-1 cursor-pointer">
      <FilePdfIcon width={36} height={36} />
      <span class="px-2 rounded-xl text-sm text-[#cdd6f4] text-center w-full truncate">CV (EN).pdf</span>
    </a>
    <a href="/files/CV_CristopherRamirez_2025.pdf" target="_blank" class="bg-[#11111b90] backdrop-blur-xs hover:backdrop-blur-sm transition-all duration-500 rounded-xl flex flex-col gap-1 items-center px-3 py-1 cursor-pointer">
      <FilePdfIcon width={36} height={36} />
      <span class="px-2 rounded-xl text-sm text-[#cdd6f4] text-center w-full truncate">CV (ES).pdf</span>
    </a>
  </div>
</main>
