---
import BraveIcon from "../assets/svgs/brave-svgrepo-com.svg";
import TerminalIcon from "../assets/svgs/terminal-svgrepo-com.svg";
import FolderIcon from "../assets/svgs/folder-2-svgrepo-com.svg";
---

<nav id="navBottom" class="hidden z-1 fixed bottom-2 left-1/2 -translate-x-1/2 animate-jump-top-in lg:flex items-center justify-center px-5 py-4 w-fit h-[36px] bg-[#11111b90] border-1 border-white/10 backdrop-blur-sm rounded-2xl">
  <div class="justify-self-center flex items-center gap-2">
    <button class="hover:scale-125 hover:-translate-y-2 transition-all duration-400" onclick="openPopup('PopupBrave')">
      <BraveIcon width={28} height={28} />
    </button>
    <button class="hover:scale-125 hover:-translate-y-2 transition-all duration-400" onclick="openPopup('PopupFileExplorer')">
      <FolderIcon width={28} height={28} />
    </button>
    <button class="hover:scale-125 hover:-translate-y-2 transition-all duration-400" onclick="openPopup('PopupTerminal')">
      <TerminalIcon width={28} height={28} />
    </button>
  </div>
</nav>

<style is:global>
  @keyframes jump-top-in {
    0% {
      opacity: 0.75;
      scale: 0.75;
      transform: translateY(50px);
    }
    50% {
      opacity: 0.75;
      scale: 0.75;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }

  .animate-jump-top-in {
    animation: jump-top-in 0.5s ease;
  }

  @keyframes jump-bottom-out {
    0% {
      opacity: 1;
      scale: 1;
    }
    100% {
      opacity: 0;
      scale: 0;
      transform: translateY(-50px);
    }
  }

  .animate-jump-bottom-out {
    animation: jump-bottom-out 0.5s ease forwards;
  }
</style>

<script is:inline>
  function checkSystemOpenPopups() {
    const systemDialogsToClose = document.getElementsByTagName("dialog");

    Array.from(systemDialogsToClose).forEach((dialog) => {
      if (dialog.id.slice(0, 11) !== "PopupSystem") return;

      dialog.close(dialog.id);
    });
  }

  function openPopup(dialogToOpen) {
    checkSystemOpenPopups();
    
    const dialogOpen = document.getElementById(dialogToOpen);
    dialogOpen.show();

    checkOpenPopups();
  };
</script>
