---
import "../styles/global.css";
---
<!doctype html>
<html lang="en" class="bg-[#11111b]">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
	</head>
  <body class="font-jet-brains">
		<slot />
	</body>
</html>

<style is:global>
	html,
  body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
		margin: 0;
		width: 100%;
    height: 100%;
    user-select: none;
  }

  button, a {
    outline-color: #89b4fa;
    outline-width: 2px;
  }

  button {
    cursor: pointer;
  }

  .cursor-none {
    cursor: default;
  }
</style>
