---
import SystemModal from "../SystemModal.astro";
---

<SystemModal id="PopupSystemBattery" openDirection="right-5" width="w-auto">
  <div class="flex items-center w-full h-full">
    Battery 100%
  </div>
</SystemModal>

