---
import SystemModal from "../SystemModal.astro";
---

<SystemModal id="PopupSystemWiFi" openDirection="right-5" width="w-auto">
  <div class="flex items-center w-full h-full">
    Wi-Fi 5G
  </div>
</SystemModal>
