---
import SystemModal from "../SystemModal.astro";
---

<SystemModal id="PopupSystemUserActions" openDirection="left-5" width="w-[125px]">
  <div class="flex flex-col w-full h-full">
    <button class="flex items-start hover:bg-black/5 px-2 py-1 rounded w-full">Power Off</button>
    <button class="flex items-start hover:bg-black/5 px-2 py-1 rounded w-full">Log Out</button>
    <button class="flex items-start hover:bg-black/5 px-2 py-1 rounded w-full">Suspend</button>
  </div>
</SystemModal>
